[Unit]
Description=dnf2b daemon
Wants=network-online.target
After=network.target ufw.service

[Service]
Restart=on-failure
RestartSec=10s
Type=idle
WorkingDirectory=/etc/dnf2b/
ExecStart=dnf2b daemon
ExecStop=killall dnf2b

[Install]
WantedBy=multi-user.target
RestartPreventExitStatus=0 255
