[Unit]
Description=dnf2b daemon
Wants=network-online.target
After=network.target ufw.service

[Service]
Restart=on-failure
RestartSec=10s
RestartPreventExitStatus=0 255
Environment="SPDLOG_LEVEL=info"
Type=idle
WorkingDirectory=/etc/dnf2b/
ExecStart=/opt/dnf2b/bin/dnf2b daemon
ExecStop=killall dnf2b

[Install]
WantedBy=multi-user.target
